# editor configs
/.vscode
/.zed
/.nvim.lua

# OS specific
.DS_Store
*:Zone.Identifier

# clang cache
/.cache

# lsp config
/build
/buildServer.json

# blender
*.blend1

# build output
/Builds
/Releases

# secrets
/Other/build-secrets.json
